.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow-x: hidden;
}

.primary-btn{
  width: 100px;
  height: 50px;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 15px;
  font-size: 1.3rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  position: relative;
}

.primary-btn-logout{
  width: 100px;
  height: 50px;
  align-items: end;
  margin-top: 20px;
  margin-right: 15px;
  align-self: flex-end;
  font-size: 1.3rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: #d74e4e;
  position: absolute;
}

.primary-btn:hover{
  background-color: #338ed9;
  transition: 0.2s ease;
}

.primary-btn-logout:hover{
  background-color: #b43333;
  color: #fff;
  transition: 0.2s ease;
}

.list {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
  margin-top: 50px;
  gap: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
  font-size: 2rem;
  width: 100vw;
  max-width: 800px;
  background-color: white;
  position: relative;
}

li {
  font-size: 2rem;
  align-items: center;
  align-self: center;
}

#list-wrap {
  gap: 20px;
  min-height: 90px;
  min-width: 230px;
  max-width: 400px;
  border: 2px #000 solid;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  margin: 0px 15px;
}

.control-buttons {
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  transform: translateY(10px);
  margin-left: 10px;
  visibility: hidden;
}

#list-wrap:hover {
  background-color: rgb(238, 238, 238);
  transition: 0.2s ease-in;
}

ul:hover .control-buttons {
  visibility: visible;
  transition: 0.4s ease-in;
}

a {
  text-decoration: none;
  color: #000;
}

.add-btn {
  margin-top: 20px;
  border: none;
  background-color: white;
  scale: 2.5;
}

.edit-button, .delete-button{
  border: none;
  background-color: rgb(238, 238, 238);
}

#circle:hover {
  background-color: #000;
  transition: 0.2s ease;
  color: #fff;
}

.material-symbols-outlined:active {
  scale: 1.2;
  transition: 0.2s ease;
}

.material-symbols-outlined {
  cursor: pointer;
  border-radius: 50%;
}

.form-control {
  margin: 0 20px;
  display: flex;
}

#new,
.submit-btn {
  height: 40px;
  min-width: 230px;
  max-width: 400px;
  font-size: 1.3rem;
  border-radius: 5px;
}

.edit-menu {
  min-height: 80px;
  min-width: 400px;
  background-color: rgb(183, 183, 183);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 200;
  border-radius: 10px;
}

.edit-input {
  margin-left: 5px;
  height: 40px;
  width: 100%;
  font-size: 1.3rem;
  border-radius: 5px;
}

@media (max-width:500px) {
  .primary-btn{
    scale: 70%;
    align-self: flex-end;
    margin-top: -10px;
  }
  .primary-btn-logout{
    scale: 70%;
    align-self: flex-end;
    margin-top: -10px;
  }

  .container{
    scale: 90%;
  }
}